    /* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #000a79;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #000540;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    float: left;
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000a79;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero {
    background-image: url('https://example.com/foz-do-iguacu.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}

.section {
    margin: 40px 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000a79;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card img {
    max-width: 50%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #333;
}

.card p {
    margin: 15px 0;
}

footer {
    background-color: #223160;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    color: white;
    background-color: #000a79;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #000a79;
}

/* Centralização da seção embed */
.embed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 150px) {
    nav ul li {
        float: none;
        width: 100%;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1em;
    }

    
}

button {
    background-color: #2e557e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
