/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #000a79;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #000540;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000a79;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero {
    background-image: url('https://example.com/foz-do-iguacu.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(15, 14, 14);
    padding: 65px 30px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.info, .charts, .external-links {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000a79;
}

.external-links a {
    display: block;
    margin: 10px 0;
    color: #000a79;
}

footer {
    background-color: #223160;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilo do modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode a {
    color: #bb86fc;
}

/* Estilo do botão de alternância */
.theme-toggle {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
